    table {
        width: 100%;
        border-spacing: 50px;
    }

    img {
        width: 100%;
    }

    h3 {
        text-align: center;
        color: red;
    }

    h4 {
        padding-left: 20px;
        color: blue;
    }

    p {
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
    }